@model SV20T1020598.DomainModels.Supplier
@{
}

<div class="box box-primary">
    <div class="box-body">
        <form action="~/Supplier/Save" method="post">

            @*  //Hiển thị tất cả thông báo lỗi có trong ModelState
            @Html.ValidationSummary("", new { @style = "color:#f00"}) *@
            @Html.HiddenFor(m => m.SupplierID)
            @*  <input type="hidden" name="SupplierId" value="@Model.SupplierID" /> *@
            <div class="form-group">
                <label>Tên nhà cung cấp:</label>
                @Html.TextBoxFor(m => m.SupplierName, new { @class = "form-control", @autofocus = "autofocus" })
                @* <input type="text" class="form-control" name="SupplierName" autofocus value="@Model.SupplierName"> *@
                @Html.ValidationMessageFor(m => m.SupplierName, "", new { @style = "color:#f00" })
            </div>

            <div class="form-group">
                <label>Tên giao dịch:</label>
                <input type="text" class="form-control" name="ContactName" value="@Model.ContactName">
                @Html.ValidationMessage("ContactName", new { @style = "color:#f00" })

            </div>

            <div class="form-group">
                <label>Điện thoại:</label>
                <input type="text" class="form-control" name="@nameof(Model.Phone)" value="@Model.Phone">
            </div>

            <div class="form-group">
                <label>Ngày thành lập:</label>
                <input type="text" name="@nameof(Model.Date)" class="form-control date-picker" value="@Model.Date?.ToString("dd-MM-yyyy")" maxlength="10" />
            </div>

             <div class="form-group">
                <label>Email:</label>
                <input type="email" class="form-control" name="Email" value="@Model.Email">
                @Html.ValidationMessage("Email", new { @style = "color:#f00" })

            </div>

            <div class="form-group">
                <label>Địa chỉ:</label>
                <input type="text" class="form-control" name="@nameof(Model.Address)" value="@Model.Address">
            </div>

             <div class="form-group">
                <label>Tỉnh/Thành</label>
                @*  <select class="form-control" name="Provice">
                <option value="">--Chọn tỉnh/thành</option>
                @foreach (var item in SV20T1020049.BusinessLayers.CommonDataService.ListOfProvinces())
                {
                if (item.ProvinceName == Model.Province)
                {
                <option value="@item.ProvinceName" selected>@item.ProvinceName</option>
                }
                else
                {
                <option value="@item.ProvinceName">@item.ProvinceName</option>
                }
                }


                </select> *@
                @Html.DropDownListFor(m => m.Provice, SelectListHelper.Provinces(), new { @class = "form-control" })
                @Html.ValidationMessage("Provice", new { @style = "color:#f00" })


            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-floppy-o"></i>Lưu dữ liệu
                </button>
                <a href="~/Supplier" class="btn btn-defautl">
                    Quay lại
                </a>
            </div>
             <div class="form-group">
                @Html.ValidationMessage("Error", new { @style = "color:#f00" })

            </div>
        </form>

    </div>
</div>