@model SV20T1020598.Web.Models.Person
@{
}
<div class="box box-primary">
    <div class="box-body">
        <form action="~/Test/Save" method="post">

            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" name="@nameof(Model.Name)" autofocus value="@Model.Name" />
            </div>


            <div class="form-group">
                <label>Birthday</label>
                <input type="text" class="form-control date-picker" name="@nameof(Model.Birthday)" value="@Model.Birthday"/>
            </div>
            <div class="form-group">
                <label>Salary</label>
                <input type="text" class="form-control" name="@nameof(Model.Salary)" value="@Model.Salary"/>
            </div>


            <div class="form-group">
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-floppy-o"></i>Lưu dữ liệu
                </button>
                
            </div>


        </form>

    </div>
</div>